<div class="container"  fxLayoutAlign="center center">
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="center" class="landing-page">
            <div fxFlex="45%" fxLayout="column">
                <div class="right-side">
                    <h2>Te ayudamos a encontrar tu nuevo hogar</h2>
                    <h3>Donde quieres vivir</h3>
                    <div>
                        <mat-list fxLayout="column" fxLayout>
                            <mat-list-item fxFlex>
                                <mat-icon matListIcon color="primary">timer</mat-icon>
                                <h2 matLine>Ahorra Tiempo</h2>
                                <p matLine>
                                    <span>Ahorra hasta en 25%</span>
                                </p>
                            </mat-list-item>
                            <mat-list-item fxFlex>
                                <mat-icon matListIcon color="primary">security</mat-icon>
                                <h2 matLine>Mas seguro</h2>
                                <p matLine>
                                    <span>Ahorra hasta en 25%</span>
                                </p>
                            </mat-list-item>
                            <mat-list-item fxFlex>
                                <mat-icon matListIcon color="primary">attach_money</mat-icon>
                                <h2 matLine>Ahorra Tiempo</h2>
                                <p matLine>
                                    <span>Ahorra hasta en 25%</span>
                                </p>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </div>

            </div>
            <div fxFlex="45%" class="side-image">
                hello
            </div>
        </div>
</div>