.hero-switch {
    height: 90vh;
    background-image: url(../../../assets/img/hero_switch.jpg);
    background-size: cover;
}

.search-bar {
    margin-top: 30px;
}

.search-form {
    width: 80%;
}

section {
    margin-bottom: 20px;
}

.container {
    height: 100%;
}

.side-image {
    background-image: url(../../../assets/img/house_searching.png);
    background-size: cover;
}

.right-side {
    background-color: #fff;
}

.landing-page {
    height: 70% ;
}